frontend/node_modules/

backend/lib/
frontend/node_modules/

backend/sql_host.txt
backend/venv/
backend/pyvenv.cfg
backend/bin
backend/include
backend/.env
backend/__pycache__

docker-compose.yml
DockerFile
/.vscode

ans.py